streamlit>=1.36
streamlit-folium>=0.20
geopandas>=0.14
shapely>=2.0
fiona>=1.9
pyproj>=3.6
networkx>=3.2
osmnx>=1.9
rtree>=1.2
folium>=0.17
pandas>=2.0
numpy>=1.26
pystac-client>=0.7
planetary-computer>=1.0
pyarrow>=15.0

scikit-learn>=1.3
